# --- Core ---
joblib
scikit-learn
openpyxl
streamlit>=1.38.0
protobuf==5.27.2


# --- LangChain Ecosystem (perfectly compatible set) ---
langchain==0.3.27
langchain-core 
langchain-community
langchain-openai
langchain-groq
langchainhub
langsmith

# --- Utilities ---



# --- Streamlit components ---
streamlit-chat>=0.1.1


