# --- Core ---
#joblib
streamlit>=1.38.0
protobuf==5.27.2


# --- LangChain Ecosystem (perfectly compatible set) ---
langchain==0.3.9

langchain-community==0.3.13
langchain-openai==0.3.0
langchain-groq==0.2.2
langchainhub==0.1.20

# --- Utilities ---



# --- Streamlit components ---
streamlit-chat>=0.1.1


